* 
{
    margin: 0;
    padding: 0;
}

body 
{
    background-color: #111;
    text-align: center;
}

h1 
{
    color: #fff;
    font-family: 'calibri',sans-serif;
    margin-bottom: 30px;
}

#jogo 
{
    width: 640px;
    height: 448px;
    border: 2px solid;
    background-color: #0b0;
    margin: 0px auto;
    position: relative;
    border: 3px solid rgb(121, 61, 5);
}

#personagem 
{
    width: 32px;
    height: 36px;
    background-image: url(imagens/personagem.png);
    position: absolute;
    background-position: 0px 0px;
    border: 1px solid red;
}

#personagem.esquerda 
{
    background-position: 0 36px;
}

#personagem.cima
{
    background-position:  0 73px;
}

#personagem.direita
{
    background-position: 0 108px;
}

#personagem.andando
{
    animation: andando 500ms steps(3) infinite;
}

@keyframes andando
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: -140px;
    }
}

#moeda
{
    width: 20px;
    height: 20px;
    background-image: url('imagens/moeda.png');
    background-size: 100%;
    position: absolute;
    border: 1px solid blue;
}

#placar
{
    width: 640px;
    height: 70px;
    margin-top: 10px;
    background-color: rgb(11, 75, 30);
    margin: 0 auto;
    border: 3px solid rgb(121, 61, 5);
    color: #fff;
    font-size: 30px;
    font-family: 'calibri',sans-serif;
    padding-bottom: 3px;
}
